html {
  overflow-x: hidden;
  font-display: swap;
  font-family: Roboto, sans-serif;
}
h1 {
  visibility: hidden;
  position: absolute;
}
a {
  text-decoration: none;
}
body {
  background-color: #ffffff;
  position: relative;
}
.header {
  width: 100%;
  margin: 0px;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1800px;
  height: 94px;
  padding: 0 100px;
  box-sizing: border-box;
  margin: 0px auto 0px;
  align-items: center;
}
.burger {
  display: none;
  width: 40px;
  height: 21px;
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 40px;
  margin-right: 15px;
  z-index: 5;
}
.burger_line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #333333;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.burger_line__short {
  display: block;
  width: 33px;
  height: 3px;
  background-color: #333333;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
}

.burger_checkbox {
  display: block;
  width: 40px;
  height: 21px;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  cursor: pointer;
  z-index: 10;
}

.logo {
  margin: 0;
  width: 59px;
  height: 42px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-light {
  color: #ffffff;
}
.logo__text {
  color: #333333;
  width: 60px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.08em;
}
.logo__text_zoo {
  letter-spacing: normal;
  font-size: 36px;
}
.menu {
  margin-left: 20px;
  width: 573px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu__element {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  color: #333333;
}
.menu__element_active {
  border-bottom: 1px solid #333333;
  font-weight: 900;
}
.menu__element:hover {
  border-bottom: 1px solid #333333;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.watch-online {
  height: 940px;
  z-index: -1;
  background-image: url(../../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 0;
}
.watch-online__wrapper {
  display: flex;
  overflow: hidden;
  max-width: 1920px;
  box-sizing: border-box;
  padding-left: 100px;
  height: 422px;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
}
.watch-online__wrapper-text {
  display: flex;
  height: 408px;
  justify-content: center;
  align-items: flex-end;
}
.watch-online__wrapper-text_text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 89px;
  flex: 0 1 793px;
  line-height: 104px;
  padding-right: 21%;
  color: #fefefe;
}
.watch-button {
  background-image: url(../../assets/icons/watchbutton1.svg);
  background-repeat: no-repeat;
  height: 55px;
  width: 245px;
  cursor: pointer;
  transition: transform 0.3s;
  background-position: center;
}
.watch-online__button {
  margin-top: 45px;
  align-self: flex-start;
  margin-left: -310px;
  width: 245px;
}
.watch-button:hover {
  transform: scale(1.05);
}
.watch-online__slider {
  margin: 0 -300px 0 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  justify-content: space-between;
}
.watch-online__slider_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  margin-right: 750px;
  margin-bottom: 5px;
}

.watch-online__slider_pictures {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-self: flex-end;
  background-position: 0 180px;
  background-image: url(../../assets/images/line.svg);
  background-repeat: no-repeat;
  max-width: 1100px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 80px;
  margin-right: 240px;
  margin-top: 80px;
}
.slider__element {
  flex-basis: 140px;
  height: 203px;
  margin-top: 50px;
}
.slider__element_active {
  flex-basis: 245px;
  height: 305px;
  margin-top: 0;
}
.watch-online__slider_picture-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: -357px;
  max-width: 245px;
  height: 357px;
  cursor: pointer;
}
.slider-range {
  height: 5px;
  width: 245px;
  appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background: rgba(189, 189, 189, 0.57);
  cursor: pointer;
  color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
}

.slider-range:focus {
  outline: none;
}

.slider-range::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 10px;
  background: #fefefe;
}

.slider-range::-moz-range-thumb {
  width: 30px;
  height: 10px;
  background: #fefefe;
  border: 1px solid transparent;
  border-radius: 0;
}

.slider-label.pets__slider-label {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}

.slider-label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 900;
  color: #bdbdbd;
}

.slider-value {
  font-size: 24px;
  line-height: 28px;
  color: #fefefe;
}
.picture__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 0 7% 0 7%;
}
.picture__buttons {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;
  margin: 5% 7% 7% 7%;
  max-width: 245px;
  width: 85%;
}
.picture__buttons_watch:hover {
  transition: transform 0.15s;
  transform: scale(1.05);
}
.picture__buttons_donate:hover {
  transition: transform 0.15s;
  transform: scale(1.05);
}

.watch-online__slider_picture {
  flex-basis: 140px;
  flex-grow: 0;
  flex-shrink: 1;
  height: 203px;
  cursor: pointer;
  transition: transform 0.3s;
}
.watch-online__slider_picture:hover {
  transform: scale(1.05);
}
.watch-online__slider_picture-active {
  height: 352px;
  flex-basis: 245px;
}
.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  margin-left: 50px;
  margin-bottom: -6px;
}
.aside__element {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
}
.aside__element:hover {
  transform: scale(1.2);
}
li {
  list-style: none;
}
.how {
  padding: 100px 0 100px 0;
  height: 680px;
  background-color: #fefefe;
}
.how-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 990px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  height: 680px;
  margin: 0 auto 0;
  justify-content: space-between;
  align-items: center;
}
.title_font {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin: 0;
}
.text_font {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
  margin: 0;
}
.how__title {
  align-self: flex-start;
}
.how__text {
  margin-top: 10px;
}
.how__button {
  align-self: center;
  height: 55px;
  width: 245px;
}
.how__slider {
  align-self: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
}
.how__slider-value {
  color: #333333;
}

.how-label {
  margin-top: 29px;
  color: #828282;
}

.how__slider-range::-webkit-slider-thumb {
  width: 62px;
  height: 10px;
  background-color: #333333;
}

.how__slider-range::-moz-range-thumb {
  width: 62px;
  height: 10px;
  background-color: #333333;
  border: 1px solid transparent;
  border-radius: 0;
}

.how__slider-range {
  margin-top: 14px;
}
.mission {
  height: 410px;
  background-color: #e5e5e5;
}
.mission-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 0 100px;
  margin: 0 auto 0;
  padding-top: 100px;
  height: 310px;
}
.mission__element1 {
  height: 185px;
}
.mission__element2 {
  height: 169px;
}
.mission__element3 {
  height: 185px;
}
.mission__element {
  flex-basis: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mission__element_title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}

.pets-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  margin: 100px auto;
  height: 650px;
  align-items: center;
}
.pets__slider {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pets__slider_element {
  display: flex;
  flex-direction: column;
  flex-basis: 278px;
  height: 399px;
}
.pets__slider_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: -403px;
  border-radius: 5px;
  flex-basis: 278px;
  min-height: 399px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s;
}

.pets__slider_text:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.image {
  width: 278px;
  height: 399px;
}
.pets-label {
  margin-top: 40px;
}

.pets__slider-label {
  color: #828282;
}

.pets__slider-value,
.testimonials__slider-value {
  color: #333333;
}

.pets__slider-range::-webkit-slider-thumb {
  width: 30px;
  height: 10px;
  background-color: #333333;
}

.pets__slider-range::-moz-range-thumb {
  width: 62px;
  height: 10px;
  background-color: #333333;
  border: 1px solid transparent;
  border-radius: 0;
}

.pets__slider-range {
  margin-top: 14px;
}

.pets__button {
  transition: transform 0.3s;
  margin-top: 20px;
}
.pets__button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.pets-wrapper_big {
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 100px;
}
.pets__left-button {
  margin-bottom: 60px;
  cursor: pointer;
  transition: transform 0.3s;
}
.pets__right-button {
  margin-bottom: 60px;
  cursor: pointer;
  transition: transform 0.3s;
}
.pets__left-button:hover {
  transform: scale(1.1);
}
.pets__right-button:hover {
  transform: scale(1.1);
}
.pay {
  background-color: #e5e5e5;
  height: 750px;
}
.pay-wrapper {
  max-width: 1400px;
  box-sizing: border-box;
  padding: 0 100px;
  height: 650px;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pay__line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
.pay__button {
  cursor: pointer;
  transition: transform 0.3s;
}
.pay__button:hover {
  transform: scale(1.05);
}
.testimonials {
  height: 800px;
}
.testimonials-wrapper {
  max-width: 1500px;
  box-sizing: border-box;
  padding: 100px 100px 0;
  margin: 20px auto;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.user-avatar {
  max-width: 68px;
  width: 100%;
  height: 68px;
  border: solid #bdbdbd;
  border-radius: 50%;
}
.initials {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}
.testimonials__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  width: 100%;
}
.testimonials__slider_element {
  max-width: 585px;
  height: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #fefefe;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 50px 100px 90px 70px;
  transition: transform 0.3s;
  cursor: pointer;
}
.testimonials__slider_element:hover {
  transform: scale(1.05);
}
.testimonials__slider_pictures {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}
.slider__arrow:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  cursor: pointer;
}
.testimonials-label {
  margin-top: 49px;
}

.testimonials-slider-range::-webkit-slider-thumb {
  width: 30px;
  height: 10px;
  background-color: #333333;
}

.testimonials-slider-range::-moz-range-thumb {
  width: 62px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: #333333;
}

.testimonials__button {
  transition: transform 0.3s;
  cursor: pointer;
}
.testimonials__button:hover {
  transform: scale(1.05);
}
.map {
  height: 900px;
  width: 100%;
  background-color: #e5e5e5;
}
.map-wrapper {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 0 100px;
  padding-top: 100px;
  margin: 0 auto;
}
.map__map {
  position: relative;
  background-image: url(../../assets/images/map.png);
  height: 100%;
  max-width: 1200px;
  width: 100%;
  background-repeat: no-repeat;
  height: 500px;
}
.map__placeholder_1 {
  position: absolute;
  left: 73.3%;
  right: 18.92%;
  top: 18.2%;
  bottom: 63.05%;
  max-width: 94px;
  width: 100%;
  height: 101px;
  background: url(../../assets/icons/placeholder1.png) center;
  cursor: pointer;
  transition: 0.15s;
}
.map__placeholder_1:hover {
  background: url(../../assets/icons/placeholder1active.png) center;
}
.map__placeholder_1:hover::after {
  content: attr(data-title);
  font-family: Roboto, sans-serif;
  position: absolute;
  left: 100%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: url(../../assets/images/eagletitle.png) no-repeat #fefefe;
  background-position: 10% 47%;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  padding: 45% 65% 15% 135%;
  border-radius: 8px;
  width: 436px;
  height: 149px;
  box-sizing: border-box;
}
.map__placeholder_2 {
  position: absolute;
  left: 9%;
  right: 83.22%;
  top: 14.89%;
  bottom: 66.36%;
  max-width: 94px;
  width: 100%;
  height: 101px;
  background: url(../../assets/icons/placeholder2.png) center;
  cursor: pointer;
  transition: 0.15s;
}
.map__placeholder_2:hover {
  background: url(../../assets/icons/placeholder2active.png) center;
}
.map__placeholder_2:hover::after {
  content: attr(data-title);
  position: absolute;
  font-family: Roboto, sans-serif;
  left: 0%;
  right: 0%;
  top: -165%;
  bottom: 0%;
  background: url(../../assets/images/eagletitle.png) no-repeat #fefefe;
  background-position: 10% 47%;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  width: 436px;
  height: 149px;
  padding: 45% 65% 15% 135%;
  box-sizing: border-box;
}
.map__placeholder_3 {
  position: absolute;
  left: 19.3%;
  right: 72.92%;
  top: 20.59%;
  bottom: 60.66%;
  max-width: 94px;
  width: 100%;
  height: 101px;
  background: url(../../assets/icons/placeholder3.png) center;
  cursor: pointer;
  transition: 0.15s;
}
.map__placeholder_3:hover {
  background: url(../../assets/icons/placeholder3active.png) center;
}
.map__placeholder_3:hover::after {
  content: attr(data-title);
  font-family: Roboto, sans-serif;
  position: absolute;
  left: 100%;
  right: 0%;
  top: -120%;
  bottom: 0%;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  width: 436px;
  height: 149px;
  background: url(../../assets/images/eagletitle.png) no-repeat #fefefe;
  background-position: 10% 47%;
  padding: 45% 65% 15% 135%;
  box-sizing: border-box;
}
.map__placeholder_4 {
  position: absolute;
  left: 46.53%;
  right: 45.69%;
  top: 38.05%;
  bottom: 43.2%;
  max-width: 94px;
  width: 100%;
  height: 101px;
  background: url(../../assets/icons/placeholder4.png) center;
  cursor: pointer;
  transition: 0.15s;
}
.map__placeholder_4:hover {
  background: url(../../assets/icons/placeholder4active.png) center;
}
.map__placeholder_4:hover::after {
  content: attr(data-title);
  font-family: Roboto, sans-serif;
  position: absolute;
  left: 100%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: url(../../assets/images/eagletitle.png) no-repeat #fefefe;
  background-position: 10% 47%;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  width: 436px;
  height: 149px;
  padding: 45% 65% 15% 135%;
  box-sizing: border-box;
}
.map__button {
  width: 245px;
  height: 55px;
}
.footer {
  height: 750px;
  background-color: #333333;
}
.footer-wrapper {
  max-width: 1800px;
  box-sizing: border-box;
  padding: 0 100px;
  padding-top: 100px;
  margin: 0 auto;
  height: 620px;
  display: flex;
  flex-direction: row;
  border-bottom: 0.5px solid #fefefe;
}
.footer__column_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 470px;
}
.footer__column_2 {
  width: 50%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column {
  height: 450px;
  width: 500px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 420px;
}
.footer__form_title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
  margin-top: 50px;
}
.text__input {
  background: none;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  outline: 0;
  max-width: 383px;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fefefe;
  margin: 0;
}
.text__input::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #e0e0e0;
}
.footer__textarea {
  background: none;
  border: none;
  max-width: 383px;
  width: 100%;
  height: 90px;
  resize: none;
  outline: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #fefefe;
  margin: 0;
}

.footer__fieldset {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 3px;
  max-width: 383px;
  width: 100%;
  height: 124px;
}
.text_font_light {
  color: #bdbdbd;
}
.footer__form_agree {
  display: flex;
  flex-direction: row;
  max-width: 243px;
  height: 14px;
  width: 100%;
  justify-content: space-between;
}
.text_font_small {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}
.footer__form_checkbox {
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 1px;
  cursor: pointer;
}
input[type="submit"] {
  align-self: center;
  background: url(../../assets/icons/Arrow\ 4.svg) no-repeat right;
  max-width: 108px;
  width: 100%;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fefefe;
  height: 16px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
  margin-left: -120px;
}
input[type="submit"]:hover {
  transform: scale(1.05);
}
.copyright {
  max-width: 1600px;
  width: 100%;
  height: 33px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  margin: 30px auto 0;
}
.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  max-width: 404px;
  width: 100%;
  height: 21px;
  padding: 0;
}
.footer__menu_element {
  display: inline;
  color: #fefefe;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.footer__menu_element:hover {
  border-bottom: 1px solid #fefefe;
  cursor: pointer;
}
.footer__nav {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__button {
  transition: transform 0.3s;
  margin-left: 50px;
}
.footer__button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.footer__title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
  margin-top: 60px;
}
.footer__adress {
  color: #fefefe;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  margin-top: 40px;
}
.tel {
  text-decoration: none;
  color: #fefefe;
}
.email {
  text-decoration: none;
  color: #fefefe;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  max-width: 125px;
  width: 100%;
  height: 20px;
  padding: 0;
}
.footer__socials_element {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  cursor: pointer;
}
.footer__socials_element:hover {
  transform: scale(1.2);
}
.contacts {
  display: flex;
  flex-direction: column;
  height: 37px;
  max-width: 143px;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-device-width: 1210px) {
  .header-wrapper {
    max-width: 1000px;
    padding: 0 50px;
  }
  .watch-online {
    height: 920px;
    max-width: 1200px;
    width: 100%;
  }
  .watch-online__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .watch-online__wrapper-text {
    height: 336px;
  }
  .watch-online__wrapper-text_text {
    padding-right: 9.5%;
  }
  .watch-online__button {
    margin-top: 25px;
    padding-top: 10px;
    margin-left: -160px;
  }
  .watch-online__wrapper {
    height: 520px;
  }
  .watch-online__slider_pictures {
    justify-content: space-between;
    margin-right: 0px;
  }
  .watch-online__slider {
    max-width: 1400px;
    width: 100%;
    margin: 0 -430px 0 0;
  }
  .watch-online__slider_slider {
    margin-right: 300px;
  }
  .slider__element {
    flex-basis: 180px;
    height: 261px;
    margin-top: 50px;
    margin-left: 20px;
  }
  .slider__element_active {
    flex-basis: 245px;
    height: 305px;
    margin-top: 0;
  }
  .watch-online__slider_picture {
    flex-basis: 180px;
    height: 261px;
  }
  .watch-online__slider_picture-active {
    height: 352px;
    flex-basis: 245px;
    justify-self: center;
  }
  .aside {
    margin-bottom: 0px;
  }
  .mission-wrapper {
    max-width: 1100px;
    padding-bottom: 100px;
    height: 410px;
  }
  .pets {
    height: 750px;
  }
  .pets-wrapper_big {
    height: 750px;
  }
  .pets-wrapper {
    height: 500px;
    max-width: 900px;
  }
  .pets__slider_element {
    flex-basis: 210px;
    height: 301px;
  }
  .pets__slider_text {
    top: -304px;
    flex-basis: 210px;
    min-height: 301px;
  }
  .image {
    width: 210px;
    height: 301px;
  }
  .pets__title {
    margin-top: -10px;
  }
  .pets__left-button {
    margin-bottom: 0;
  }
  .pets__right-button {
    margin-bottom: 0;
  }
  .pay {
    height: 700px;
  }
  .pay-wrapper {
    max-width: 1200px;
    padding-top: 110px;
  }
  .pay__line {
    max-width: 900px;
  }
  .arrow {
    width: 48px;
  }
  .pay__button {
    margin-bottom: 30px;
  }
  .testimonials__slider_element {
    max-width: 440px;
    height: 310px;
    padding: 40px 60px 80px 60px;
    box-sizing: border-box;
  }
  .testimonials__slider_pictures {
    margin-top: 40px;
    justify-content: space-around;
  }
  .map {
    height: 840px;
  }
  .map__map {
    max-width: 900px;
    background-size: contain;
    height: 435px;
  }
  .map__button {
    margin-bottom: 50px;
  }
  .footer-wrapper {
    padding: 110px 150px;
  }
  .footer__menu {
    max-width: 380px;
  }
  .footer__column_2 {
    flex-direction: column;
    height: 400px;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .footer__title {
    margin-top: 45px;
  }
  .footer__button {
    align-self: flex-start;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .footer__adress {
    margin-top: 35px;
    height: 90px;
  }
  .footer__socials {
    margin-bottom: 0;
    margin-top: 20px;
  }
  input[type="submit"] {
    align-self: flex-end;
    margin-right: 70px;
    margin-bottom: 20px;
  }
  .copyright {
    margin-top: 45px;
    margin-left: 150px;
  }
}

@media screen and (max-device-width: 950px) {
  .header-wrapper {
    padding: 0 80px 0 20px;
  }
  .burger {
    display: flex;
  }
  .menu {
    display: none;
  }
  .watch-online__wrapper-text {
    height: 270px;
    padding-left: 20px;
  }
  .watch-online__wrapper-text_text {
    font-size: 64px;
    line-height: 75px;
    padding-right: 8%;
  }
  .watch-online__button {
    margin-left: 0;
    position: absolute;
    left: 3.5%;
    top: 10px;
  }
  .watch-online__wrapper {
    padding-left: 20px;
    height: 580px;
    position: relative;
  }
  .watch-online__slider_slider {
    margin-right: -220px;
    height: 38px;
  }
  .watch-online__slider {
    margin: 0;
  }
  .watch-online__slider_pictures {
    max-width: 1100px;
    margin-top: 60px;
  }
  .watch-online__slider {
    height: 500px;
    box-sizing: border-box;
    padding-bottom: 20px;
  }
  .aside {
    margin: 0;
    margin-bottom: 10px;
    height: 115px;
  }
  .how-wrapper {
    padding: 0 20px;
    height: 700px;
  }
  .how {
    height: 880px;
    padding: 120px 0 150px 0;
    box-sizing: border-box;
  }
  .how__image {
    max-width: 600px;
    height: 323px;
  }
  .mission {
    height: 875px;
  }
  .mission-wrapper {
    flex-direction: column;
    height: 880px;
    padding: 125px 180px 40px 180px;
  }
  .pets-wrapper_big {
    padding: 0 20px;
  }
  .pets-wrapper {
    max-width: 600px;
    overflow: hidden;
    height: 580px;
    padding-top: 60px;
    margin: 0 auto;
  }
  .pets__left-button {
    display: none;
  }
  .pets__right-button {
    display: none;
  }
  .pets__slider {
    width: 670px;
    margin-left: 80px;
  }
  .element__4 {
    display: none;
  }
  .pay {
    height: 1400px;
  }
  .pay-wrapper {
    max-width: 640px;
    height: 1330px;
    padding: 130px 30px 0;
    text-align: center;
  }
  .pay__line {
    flex-direction: column;
    max-width: 250px;
    height: 935px;
    padding-bottom: 0;
    align-items: center;
  }
  .arrow {
    transform: rotate(45deg);
    width: 40px;
    align-self: center;
  }
  .pay__button {
    margin: 0;
  }
  .testimonials {
    height: 795px;
  }
  .testimonials__slider_element {
    height: 310px;
    max-width: 585px;
  }
  .testimonials-wrapper {
    max-width: 640px;
    padding: 110px 20px 0;
  }
  .element__2 {
    display: none;
  }
  .slider__arrow {
    display: none;
  }
  .map {
    height: 666px;
  }
  .map-wrapper {
    height: 600px;
    max-width: 640px;
    padding: 100px 20px 0;
  }
  .map__map {
    margin-top: 28px;
    max-width: 600px;
    height: 290px;
    background-image: url(../../assets/icons/mapsmall.png);
  }
  .map__placeholder_1 {
    top: 1%;
    left: 69%;
  }
  .map__placeholder_2 {
    left: 6.67%;
    right: 77.77%;
    top: 2.41%;
    bottom: 65.39%;
  }
  .map__placeholder_3 {
    left: 15%;
    right: 69.44%;
    top: 5.52%;
    bottom: 62.28%;
  }
  .map__placeholder_4 {
    left: 42.5%;
    right: 41.94%;
    top: 23.79%;
    bottom: 44.01%;
  }
  .map__button {
    margin: 0;
  }
  .footer {
    position: relative;
    height: 1068px;
  }
  .footer-wrapper {
    position: relative;
    max-width: 640px;
    padding: 100px 20px 0;
    border: none;
  }
  .footer__menu {
    flex-direction: column;
    max-width: 51px;
    height: 91px;
    position: absolute;
    left: 20px;
    top: 160px;
  }
  .footer__form {
    position: absolute;
    left: 20px;
    top: 240px;
  }
  .footer__button {
    position: absolute;
    left: 345px;
    top: 96px;
  }
  input[type="submit"] {
    margin-left: 0;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .footer__textarea {
    max-width: 383px;
  }
  .footer__fieldset {
    width: 383px;
  }
  .footer__column_1 {
    width: 600px;
  }
  .footer__title {
    position: absolute;
    margin: 0;
    left: 21px;
    top: 704px;
  }
  .footer__adress {
    position: absolute;
    left: 21px;
    top: 758px;
    margin: 0;
  }
  .footer__socials {
    position: absolute;
    width: 125px;
    height: 20px;
    left: 21px;
    top: 875px;
    margin: 0;
  }
  .copyright {
    position: absolute;
    left: 21px;
    top: 965px;
    margin: 0;
    padding-top: 30px;
    box-sizing: border-box;
    height: 60px;
    border-top: 0.5px solid #fefefe;
  }
}
@media screen and (max-device-width: 450px) {
  .watch-online__wrapper-text_text {
    font-size: 48px;
    line-height: 56px;
    padding: 0;
  }
  .mission {
    height: 720px;
  }
  .mission-wrapper {
    height: 720px;
    padding: 50px 10px 25px 10px;
  }
  .mission__element1 {
    height: 197px;
  }
  .mission__element2 {
    height: 165px;
  }
  .mission__element3 {
    height: 197px;
  }
}
@media screen and (max-device-width: 330px) {
  .burger {
    display: flex;
  }
  .header-wrapper {
    max-width: 320px;
    padding: 0 50px 0 10px;
  }
  .watch-online {
    height: 670px;
  }
  .watch-online__wrapper-text {
    max-width: 320px;
    padding: 0 10px;
    height: 260px;
  }
  .watch-online__wrapper {
    max-width: 320px;
    padding: 0 10px;
    height: 380px;
  }
  .watch-online__wrapper-text_text {
    font-size: 48px;
    line-height: 56px;
    padding: 0;
  }
  .watch-button {
    margin: 0;
  }
  .watch-online__slider {
    height: 300px;
  }
  .watch-online__slider_pictures {
    padding-left: 10px;
    height: 300px;
    margin-top: 0;
    background-position: 0 110px;
  }
  .watch-online__slider_slider {
    margin-left: 140px;
    width: 140px;
  }
  .slider-range::-webkit-slider-thumb {
    appearance: none;
    width: 17px;
    height: 10px;
    background: #fefefe;
  }
  .slider-range::-moz-range-thumb {
    width: 17px;
    height: 10px;
    background: #fefefe;
    border: 1px solid transparent;
    border-radius: 0;
  }
  .picture__text {
    font-size: 12px;
    line-height: 14px;
  }
  .slider-range {
    width: 140px;
  }
  .slider__element {
    flex-basis: 113px;
    height: 164px;
    margin: 0;
    margin-left: 10px;
  }
  .slider__element_active {
    flex-basis: 140px;
    height: 202px;
  }
  .watch-online__slider_picture-text {
    width: 140px;
    height: 202px;
    top: -202px;
  }
  .watch-online__slider_picture {
    width: 113px;
    height: 164px;
  }
  .watch-online__slider_picture-active {
    width: 140px;
    height: 202px;
  }
  .picture__buttons {
    flex-direction: column;
  }
  .aside {
    display: none;
  }
  .title_font {
    font-size: 36px;
    line-height: 42px;
  }
  .how {
    padding: 0;
    height: 880px;
  }
  .how-wrapper {
    max-width: 320px;
    height: 880px;
    padding: 50px 10px 50px 10px;
  }
  .how__title {
    margin-bottom: -20px;
  }
  .how__picture {
    width: 300px;
    height: 323px;
    overflow: hidden;
  }
  .how__slider-range::-webkit-slider-thumb {
    width: 62px;
    height: 10px;
    background-color: #333333;
  }

  .how__slider-range::-moz-range-thumb {
    width: 62px;
    height: 10px;
    background-color: #333333;
    border: 1px solid transparent;
    border-radius: 0;
  }
  .how__slider-range {
    margin-top: 0;
    width: 245px;
  }
  .how__slider {
    height: 37px;
  }
  .how-label {
    margin-top: 0;
  }
  .mission {
    height: 720px;
  }
  .mission-wrapper {
    height: 720px;
    padding: 50px 10px 25px 10px;
  }
  .mission__element1 {
    height: 197px;
  }
  .mission__element2 {
    height: 165px;
  }
  .mission__element3 {
    height: 197px;
  }
  .pets {
    height: 680px;
  }
  .pets-wrapper_big {
    max-width: 320px;
    padding: 0 10px;
    height: 680px;
  }
  .pets-wrapper {
    max-width: 300px;
    height: 530px;
    padding: 70px 0 0;
  }
  .pets__button {
    margin: 0;
  }
  .pets__slider {
    margin: 0 0 0 370px;
  }
  .pets-label {
    margin-top: 0;
    margin-bottom: -30px;
  }
  .pets__slider-range {
    margin-top: 15px;
    width: 245px;
  }
  .pets__slider-range::-webkit-slider-thumb {
    width: 30px;
    height: 10px;
    background: #333333;
  }
  .pets__slider-range::-moz-range-thumb {
    width: 30px;
    height: 10px;
    background: #333333;
  }
  .pay {
    height: 1200px;
  }
  .pay__text {
    display: none;
  }
  .pay-wrapper {
    height: 1200px;
    max-width: 320px;
    padding: 50px 10px 45px;
  }
  .testimonials {
    height: 705px;
  }
  .testimonials-wrapper {
    max-width: 320px;
    padding: 50px 10px 40px;
    margin: 0 auto;
  }
  .testimonials__slider_element {
    max-width: 300px;
    height: 363px;
    padding: 25px 10px 115px;
  }
  .initials {
    margin-top: 30px;
    font-size: 16px;
    line-height: 19px;
  }
  .testimonials-slider-range {
    width: 245px;
  }
  .testimonials-slider-range::-webkit-slider-thumb {
    width: 30px;
    height: 10px;
    background: #333333;
  }
  .testimonials-label {
    margin-top: 15px;
  }
  .testimonials-slider-range::-moz-range-thumb {
    width: 30px;
    height: 10px;
    background: #333333;
  }
  .map {
    height: 420px;
  }
  .map__title {
    margin-top: 10px;
  }
  .map-wrapper {
    max-width: 320px;
    padding: 45px 10px 55px;
    height: 410px;
  }
  .map__map {
    margin-top: 30px;
  }
  .map__placeholder_1 {
    width: 34px;
    height: 47px;
    background-size: contain;
    left: 69%;
    right: 15.44%;
    top: 4.14%;
    bottom: 63.66%;
  }
  .map__placeholder_1:hover {
    width: 34px;
    height: 47px;
    background-size: contain;
  }
  .map__placeholder_2 {
    width: 34px;
    height: 47px;
    background-size: contain;
  }
  .map__placeholder_2:hover {
    width: 34px;
    height: 47px;
    background-size: contain;
  }
  .map__placeholder_3 {
    width: 34px;
    height: 47px;
    background-size: contain;
  }
  .map__placeholder_3:hover {
    width: 34px;
    height: 47px;
    background-size: contain;
  }
  .map__placeholder_4 {
    width: 34px;
    height: 47px;
    background-size: contain;
    left: 45%;
  }
  .map__placeholder_4:hover {
    width: 34px;
    height: 47px;
    background-size: contain;
  }
  .footer {
    height: 1100px;
  }
  .footer-wrapper {
    max-width: 320px;
    padding: 50px 10px 0;
  }
  .footer__form {
    left: 10px;
    height: 375px;
  }
  .footer__menu {
    left: 11px;
    top: 134px;
    margin: 0;
  }
  .footer__form_title {
    margin: 0;
  }
  .footer__fieldset {
    width: 300px;
  }
  .footer__title {
    left: 11px;
    top: 646px;
  }
  .footer__adress {
    left: 11px;
    top: 697px;
    height: 90px;
  }
  .footer__socials {
    left: 11px;
    top: 811px;
  }
  .footer__button {
    left: 23px;
    top: 877px;
  }
  .copyright {
    left: 10px;
    top: 1040px;
    margin-top: -30px;
  }
}
