body {
  background-color: #000000;
}

.nav {
  max-width: 250px;
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &_btn {
    max-width: 120px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    border-radius: 5px;
    outline: none;
    background-color: beige;
  }
}
.garage {
  &_title {
    color: #f2f2f2;
    font-size: 30px;
    font-family: sans-serif;
  }
  &_forms {
    max-width: 300px;
    width: 100%;
    height: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #race {
    width: 80px;
  }
  #reset {
    width: 80px;
  }
  #generate {
    background-color: lightblue;
  }
  &_nav {
    max-width: 300px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__btn {
      height: 25px;
      text-transform: uppercase;
      font-family: sans-serif;
      font-weight: 600;
      border-radius: 5px;
      background-color: beige;
    }
  }
}

.car-name-input {
  border-radius: 5px;
}

.car-color-input {
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn {
  border-radius: 5px;
  max-width: 60px;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  background-color: lightblue;
}

#create-car {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
}

#edit-car {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
  .disabled {
    display: none;
  }
}
