.timer {
  width: 250px;
  height: 60px;
  background: #fff;
  margin-bottom: 10px;
}
.timer__inner {
  font-size: 40px;
  text-align: center;
  line-height: 54px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: darkblue;
  letter-spacing: 3px;
}
