.lane{
    position: relative;
    height: 75px;
}

.lane-wrapper{
    width: 95%;
    height: 75px;
    display: flex;
    flex-direction: row;
    background-image: url(./../../../public/dotted-line.svg),url(./../../../public/red-flag-svgrepo-com.svg);
    background-position: 0 100px, 98% 0;
    background-size: cover,contain;
    background-repeat: no-repeat,no-repeat;
}

.controls{
    max-width: 160px;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_visual{
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: space-between;
    }
    &_engine{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:35%;
    }
}

.select_button,
.remove_button{
    background-color: lightblue;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
}

.start_button{
    background-color: green;
    border-radius: 5px;
}
.reset_button {
    background-color: orangered;
    border-radius: 5px;
}

.car{
    &_model{
        margin-left: -95%;
        margin-top: 18%;
    }
    &_name{
        font-family: sans-serif;
        font-weight: 600;
    }
}