.chess-piece {
  width: 60px;
  height: 60px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: grab;
}

.rook_white {
  background-image: url(./../../../public/images/white-rook.png);
}

.rook_black {
  background-image: url(./../../../public/images/black-rook.png);
}

.bishop_white {
    background-image: url(./../../../public/images/white-bishop.png);
}

.bishop_black {
    background-image: url(./../../../public/images/black-bishop.png);
}

.queen_white {
    background-image: url(./../../../public/images/white-queen.png);
}

.queen_black {
    background-image: url(./../../../public/images/black-queen.png);
}

.knight_white {
    background-image: url(./../../../public/images/white-knight.png);
}

.knight_black {
    background-image: url(./../../../public/images/black-knight.png);
}

.pawn_white {
    background-image: url(./../../../public/images/white-pawn.png);
}

.pawn_black {
    background-image: url(./../../../public/images/black-pawn.png);
}

.king_white {
    background-image: url(./../../../public/images/white-king.png);
}

.king_black {
    background-image: url(./../../../public/images/black-king.png);
}