.chessboard {
  width: 600px;
  height: 600px;
  border: burlywood 30px solid;
  -webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
  transition: -webkit-transform 1s ease-in-out 0.5s;
  transition: transform 1s ease-in-out 0.5s;
  transition: transform 1s ease-in-out 0.5s, -webkit-transform 1s ease-in-out 0.5s;
}

.chessboard > .rank > .rank_number {
  -webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
  transition: -webkit-transform 1s ease-in-out 0.5s;
  transition: transform 1s ease-in-out 0.5s;
  transition: transform 1s ease-in-out 0.5s, -webkit-transform 1s ease-in-out 0.5s;
}

.chessboard > .file > .file_name {
  -webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
  transition: -webkit-transform 1s ease-in-out 0.5s;
  transition: transform 1s ease-in-out 0.5s;
  transition: transform 1s ease-in-out 0.5s, -webkit-transform 1s ease-in-out 0.5s;
}

.chessboard > .row > .square > .chess-piece {
  -webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
  transition: -webkit-transform 1s ease-in-out 0.5s;
  transition: transform 1s ease-in-out 0.5s;
  transition: transform 1s ease-in-out 0.5s, -webkit-transform 1s ease-in-out 0.5s;
}

.chessboard.turned {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
  transition: -webkit-transform 1s ease-in-out 0.5s;
  transition: transform 1s ease-in-out 0.5s;
  transition: transform 1s ease-in-out 0.5s, -webkit-transform 1s ease-in-out 0.5s;
}

.chessboard.turned > .rank > .rank_number {
  -webkit-transform: rotateZ(-180deg);
          transform: rotateZ(-180deg);
}

.chessboard.turned > .file > .file_name {
  -webkit-transform: rotateZ(-180deg);
          transform: rotateZ(-180deg);
}

.chessboard.turned > .row > .square > .chess-piece {
  -webkit-transform: rotateZ(-180deg);
          transform: rotateZ(-180deg);
}

.rank {
  position: absolute;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font: 25px sans-serif;
  margin-left: -20px;
  margin-top: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.file {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 550px;
  font: 25px sans-serif;
  margin-left: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.square {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  height: 75px;
}

.valid {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(./../../../public/images/dot.png);
}

.white {
  background-color: cornsilk;
}

.black {
  background-color: darkcyan;
}

.checked {
  background-color: #e7516f;
}

.highlight {
  background-color: darkkhaki;
}

.valid[data-piece="white"] {
  border: 3px black dotted;
}

.valid[data-piece="black"] {
  border: 3px black dotted;
}
/*# sourceMappingURL=chessboard.css.map */