<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>chess</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="chessboard.css" rel="stylesheet" />
  </head>
  <body>
    <div class="chessboard">
      <div class="rank">
        <div class="rank_number">1</div>
        <div class="rank_number">2</div>
        <div class="rank_number">3</div>
        <div class="rank_number">4</div>
        <div class="rank_number">5</div>
        <div class="rank_number">6</div>
        <div class="rank_number">7</div>
        <div class="rank_number">8</div>
      </div>
      <div class="row">
        <div class="white" data-X="1" data-Y="8" data-piece=""></div>
        <div class="black" data-X="2" data-Y="8" data-piece=""></div>
        <div class="white" data-X="3" data-Y="8" data-piece=""></div>
        <div class="black" data-X="4" data-Y="8" data-piece=""></div>
        <div class="white" data-X="5" data-Y="8" data-piece=""></div>
        <div class="black" data-X="6" data-Y="8" data-piece=""></div>
        <div class="white" data-X="7" data-Y="8" data-piece=""></div>
        <div class="black" data-X="8" data-Y="8" data-piece=""></div>
      </div>
      <div class="row">
        <div class="black" data-X="1" data-Y="7" data-piece=""></div>
        <div class="white" data-X="2" data-Y="7" data-piece=""></div>
        <div class="black" data-X="3" data-Y="7" data-piece=""></div>
        <div class="white" data-X="4" data-Y="7" data-piece=""></div>
        <div class="black" data-X="5" data-Y="7" data-piece=""></div>
        <div class="white" data-X="6" data-Y="7" data-piece=""></div>
        <div class="black" data-X="7" data-Y="7" data-piece=""></div>
        <div class="white" data-X="8" data-Y="7" data-piece=""></div>
      </div>
      <div class="row">
        <div class="white" data-X="1" data-Y="6" data-piece=""></div>
        <div class="black" data-X="2" data-Y="6" data-piece=""></div>
        <div class="white" data-X="3" data-Y="6" data-piece=""></div>
        <div class="black" data-X="4" data-Y="6" data-piece=""></div>
        <div class="white" data-X="5" data-Y="6" data-piece=""></div>
        <div class="black" data-X="6" data-Y="6" data-piece=""></div>
        <div class="white" data-X="7" data-Y="6" data-piece=""></div>
        <div class="black" data-X="8" data-Y="6" data-piece=""></div>
      </div>
      <div class="row">
        <div class="black" data-X="1" data-Y="5" data-piece=""></div>
        <div class="white" data-X="2" data-Y="5" data-piece=""></div>
        <div class="black" data-X="3" data-Y="5" data-piece=""></div>
        <div class="white" data-X="4" data-Y="5" data-piece=""></div>
        <div class="black" data-X="5" data-Y="5" data-piece=""></div>
        <div class="white" data-X="6" data-Y="5" data-piece=""></div>
        <div class="black" data-X="7" data-Y="5" data-piece=""></div>
        <div class="white" data-X="8" data-Y="5" data-piece=""></div>
      </div>
      <div class="row">
        <div class="white" data-X="1" data-Y="4" data-piece=""></div>
        <div class="black" data-X="2" data-Y="4" data-piece=""></div>
        <div class="white" data-X="3" data-Y="4" data-piece=""></div>
        <div class="black" data-X="4" data-Y="4" data-piece=""></div>
        <div class="white" data-X="5" data-Y="4" data-piece=""></div>
        <div class="black" data-X="6" data-Y="4" data-piece=""></div>
        <div class="white" data-X="7" data-Y="4" data-piece=""></div>
        <div class="black" data-X="8" data-Y="4" data-piece=""></div>
      </div>
      <div class="row">
        <div class="black" data-X="1" data-Y="3" data-piece=""></div>
        <div class="white" data-X="2" data-Y="3" data-piece=""></div>
        <div class="black" data-X="3" data-Y="3" data-piece=""></div>
        <div class="white" data-X="4" data-Y="3" data-piece=""></div>
        <div class="black" data-X="5" data-Y="3" data-piece=""></div>
        <div class="white" data-X="6" data-Y="3" data-piece=""></div>
        <div class="black" data-X="7" data-Y="3" data-piece=""></div>
        <div class="white" data-X="8" data-Y="3" data-piece=""></div>
      </div>
      <div class="row">
        <div class="white" data-X="1" data-Y="2" data-piece=""></div>
        <div class="black" data-X="2" data-Y="2" data-piece=""></div>
        <div class="white" data-X="3" data-Y="2" data-piece=""></div>
        <div class="black" data-X="4" data-Y="2" data-piece=""></div>
        <div class="white" data-X="5" data-Y="2" data-piece=""></div>
        <div class="black" data-X="6" data-Y="2" data-piece=""></div>
        <div class="white" data-X="7" data-Y="2" data-piece=""></div>
        <div class="black" data-X="8" data-Y="2" data-piece=""></div>
      </div>
      <div class="row">
        <div class="black" data-X="1" data-Y="1" data-piece=""></div>
        <div class="white" data-X="2" data-Y="1" data-piece=""></div>
        <div class="black" data-X="3" data-Y="1" data-piece=""></div>
        <div class="white" data-X="4" data-Y="1" data-piece=""></div>
        <div class="black" data-X="5" data-Y="1" data-piece=""></div>
        <div class="white" data-X="6" data-Y="1" data-piece=""></div>
        <div class="black" data-X="7" data-Y="1" data-piece=""></div>
        <div class="white" data-X="8" data-Y="1" data-piece=""></div>
      </div>
      <div class="file">
        <div class="file_name">a</div>
        <div class="file_name">b</div>
        <div class="file_name">c</div>
        <div class="file_name">d</div>
        <div class="file_name">e</div>
        <div class="file_name">f</div>
        <div class="file_name">g</div>
        <div class="file_name">h</div>
      </div>
    </div>
  </body>
</html>
