html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  --header-color: #4390d8;
  --footer-color: #4390d8;
  --main-color: #85c5e2;
  --main-block-color: #39a8e9;
  --main-font-color: #f1eeee;
}

.header {
  height: 10vh;
  margin: 0;
  background-color: var(--header-color);
  overflow: hidden;
  &_logo {
    display: flex;
    width: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    margin-left: 40px;
    &__image {
      width: 50px;
      height: 50px;
    }
    &__text {
      font-family: sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      display: flex;
      align-items: center;
      text-align: center;
      text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0,
        black 1px -1px 0;
      color: #ffffff;
      margin-left: -5px;
    }
  }
}

.header_wrapper {
  display: flex;
  width: 90%;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}

.page-name {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;
  text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0,
    black 1px -1px 0;
  color: #ffffff;
}

.main {
  height: 80vh;
  background-color: var(--main-color);
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 80px;
}

.game-buttons {
  display: flex;
  box-sizing: border-box;
  padding-top: 15px;
  flex-direction: column;
  height: 420px;
  justify-content: space-between;
}

.main_button {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  color: var(--main-font-color);
  text-shadow: -0 -1px 0 #000000, 0 -1px 0 #000000, -0 1px 0 #000000,
    0 1px 0 #000000, -1px -0 0 #000000, 1px -0 0 #000000, -1px 0 0 #000000,
    1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000,
    -1px 1px 0 #000000, 1px 1px 0 #000000;
  background-color: var(--main-block-color);
  border-radius: 5px;
}

.player {
  display: flex;
  width: 300px;
  height: 450px;
  background-color: var(--main-block-color);
  border-radius: 7px;
  font: 40px sans-serif;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  &_avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #b0c4de;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer {
  height: 10vh;
  background-color: var(--footer-color);
}
