html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  --header-color: #4390d8;
  --footer-color: #4390d8;
  --main-color: ;
  --main-block-color: #39a8e9;
  --main-font-color: #f1eeee;
}

.header {
  height: 10vh;
  margin: 0;
  background-color: var(--header-color);
  overflow: hidden;
  &_logo {
    display: flex;
    width: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    margin-left: 40px;
    &__image {
      width: 50px;
      height: 50px;
    }
    &__text {
      font-family: sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      display: flex;
      align-items: center;
      text-align: center;
      text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0,
        black 1px -1px 0;
      color: #ffffff;
      margin-left: -5px;
    }
  }
}

.header_wrapper {
  display: flex;
  width: 90%;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}

.page-name {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  display: flex;
  align-items: center;
  text-align: center;
  text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0,
    black 1px -1px 0;
  color: #ffffff;
}

.main {
 
}


.footer {
  height: 10vh;
  background-color: var(--footer-color);
}
